html {
    min-height: -webkit-fill-available; /* We have to fix html height */
}

body {
    background-image: linear-gradient(
    40deg,
    hsl(315deg 89% 58%) 0%,
    hsl(323deg 100% 59%) 11%,
    hsl(332deg 100% 60%) 22%,
    hsl(344deg 100% 65%) 33%,
    hsl(1deg 100% 69%) 44%,
    hsl(18deg 100% 65%) 56%,
    hsl(31deg 100% 60%) 67%,
    hsl(41deg 100% 54%) 78%,
    hsl(48deg 100% 50%) 89%,
    hsl(54deg 100% 50%) 100%
    );

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    font-family: "Sen", sans-serif;
    color: #382631;
}

.main-gallery {
    margin: auto;
    width: 728px;
    padding-top: 32px;
    text-align: center;
}

.main-gallery .title {
    padding-bottom: 16px;
    letter-spacing: -0.05em;
    font-size: 48px;
}

.main-gallery .title .main-text-stylized {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    padding-top: 8px;
    letter-spacing: 0.05em;
}

.song-container {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(5px);
}

.song-name {
    text-transform: uppercase;
    font-weight: 700;
}

.plus {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

audio {
    padding: 8px;
}